<h1>My Portfolio</h1>
<div class='container'>
  <div *ngFor='let holding of holdings | keyvalue' class='card'>
    <div class='card-header'>
      <span class='mr-2'>{{holding.key}}</span>
      <span>{{holding.value.name}}</span>
    </div>
    <div class='card-body' type='button' (click)='navigateTo(holding.key)'>
      <div class='row'>
        <div class='col-6'>
          <div class='float-left'>Quantity:</div>
          <div class='float-right'>{{holding.value.numOfShares}}</div>
        </div>
        <div class='col-6'>
          <div class='float-left'>Change:</div>
          <div class='float-right'>{{lastPriceInfo[holding.key].change}}</div>
        </div>
      </div>
      <div class='row'>
        <div class='col-6'>
          <div class='float-left'>Avg. Cost / Share:</div>
          <div class='float-right'>{{holding.value.avgCpS.toFixed(2)}}</div>
        </div>
        <div class='col-6'>
          <div class='float-left'>Current Price:</div>
          <div class='float-right'>{{lastPriceInfo[holding.key].lastPrice}}</div>
        </div>
      </div>
      <div class='row'>
        <div class='col-6'>
          <div class='float-left'>Total Cost:</div>
          <div class='float-right'>{{holding.value.totalCost}}</div>
        </div>
        <div class='col-6'>
          <div class='float-left'>Market Value:</div>
          <div class='float-right'>{{(holding.value.numOfShares * lastPriceInfo[holding.key].lastPrice).toFixed(2)}}</div>
        </div>
      </div>
    </div>
    <div class='card-footer'>
      <button class='float-right mr-1' (click)='openSellModal(holding.key, lastPriceInfo[holding.key].lastPrice, holding.value.numOfShares)'>Sell</button>
      <button class='float-right mr-3' (click)='openBuyModal(holding.key, lastPriceInfo[holding.key].lastPrice, holding.value.name)'>Buy</button>
    </div>
  </div>
</div>
