<div class='container my-container'>
  <div class='row my-row'>
    <div class='col-md-6 my-col'>
      <div class='row my-row'>
        <div class='col-md-6'>
          <table>
            <tr>
              <td>High Price:</td>
              <td>{{priceData.high}}</td>
            </tr>
            <tr>
              <td>Low Price:</td>
              <td>{{priceData.low}}</td>
            </tr>
            <tr>
              <td>Open Price:</td>
              <td>{{priceData.open}}</td>
            </tr>
            <tr>
              <td>Prev. Close:</td>
              <td>{{priceData.prevClose}}</td>
            </tr>
            <tr>
              <td>Volumn:</td>
              <td>{{priceData.volume}}</td>
            </tr>
          </table>
        </div>
        <div class='col-md-6'>
          <table *ngIf='priceData.askPrice != null'>
            <tr>
              <td>Mid Price:</td>
              <td>{{priceData.mid}}</td>
            </tr>
            <tr>
              <td>Ask Price:</td>
              <td>{{priceData.askPrice}}</td>
            </tr>
            <tr>
              <td>Ask Size:</td>
              <td>{{priceData.askSize}}</td>
            </tr>
            <tr>
              <td>Bid Price:</td>
              <td>{{priceData.bidPrice}}</td>
            </tr>
            <tr>
              <td>Bid Size:</td>
              <td>{{priceData.bidSize}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class='row my-row justify-content-center text-center'>
        <h3>Company's Description</h3>
      </div>
      <div class='row my-row'>
        Start Date: {{descriptionData.startDate}}
      </div>
      <div class='row my-row'>
        {{descriptionData.description}}
      </div>
    </div>
    <div class='col-md-6 my-col'>
      <highcharts-chart
        [Highcharts]="Highcharts"

        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [callbackFunction]="chartCallback"

        [(update)]="updateFlag"
        [oneToOne]="oneToOneFlag"
        [runOutsideAngular]="runOutsideAngularFlag"

        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>
    </div>
  </div>
</div>
