<div class='container mt-2'>
  <div class='row'>
    <div class='col-lg-6'>
      <div class='row'>
        <div class='col-6'>
          <table>
            <tr>
              <td>High Price:</td>
              <td>{{priceData.high}}</td>
            </tr>
            <tr>
              <td>Low Price:</td>
              <td>{{priceData.low}}</td>
            </tr>
            <tr>
              <td>Open Price:</td>
              <td>{{priceData.open}}</td>
            </tr>
            <tr>
              <td>Prev. Close:</td>
              <td>{{priceData.prevClose}}</td>
            </tr>
            <tr>
              <td>Volumn:</td>
              <td>{{priceData.volume}}</td>
            </tr>
          </table>
        </div>
        <div class='col-6'>
          <table *ngIf='priceData.askPrice != null'>
            <tr>
              <td>Mid Price:</td>
              <td>{{priceData.mid}}</td>
            </tr>
            <tr>
              <td>Ask Price:</td>
              <td>{{priceData.askPrice}}</td>
            </tr>
            <tr>
              <td>Ask Size:</td>
              <td>{{priceData.askSize}}</td>
            </tr>
            <tr>
              <td>Bid Price:</td>
              <td>{{priceData.bidPrice}}</td>
            </tr>
            <tr>
              <td>Bid Size:</td>
              <td>{{priceData.bidSize}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class='row justify-content-center text-center mt-4 mb-2'>
        <h3 class='mb-0'><b>Company's Description</b></h3>
      </div>
      <div class='row mb-1 m-1'>
        Start Date: {{descriptionData.startDate}}
      </div>
      <div class='row m-1'>
        {{descriptionData.description}}
      </div>
    </div>
    <div class='col-lg-6'>
      <highcharts-chart
        [Highcharts]="Highcharts"

        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [callbackFunction]="chartCallback"

        [(update)]="updateFlag"
        [oneToOne]="oneToOneFlag"
        [runOutsideAngular]="runOutsideAngularFlag"

        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>
    </div>
  </div>
</div>
