<div class='container my-container'>
  <div class='row my-row'>
    <div class='col-sm-6 my-col left-col'>
      {{descriptionData.ticker}}
    </div>
    <div class='col-sm-6 my-col right-col'>
      col2
    </div>
  </div>
  <div class='row my-row'>
    <div class='col-sm-6 my-col left-col'>
      {{descriptionData.name}}
    </div>
    <div class='col-sm-6 my-col right-col'>
      col2
    </div>
  </div>
  <div class='row my-row'>
    <div class='col-sm-6 my-col left-col'>
      {{descriptionData.exchangeCode}}
    </div>
    <div class='col-sm-6 my-col right-col'>
      col2
    </div>
  </div>
</div>
