.ticker {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.name {
  font-size: 18px;
  color: gray;
  margin: 0;
}
.code{
  font-size: 15px;
  color: gray;
  margin: 0;
}

.green {
  font-size: 28px;
  color: green;
  margin: 0;
}

.red {
  font-size: 25px;
  color: red;
  margin: 0;
}
.green-change {
  font-size: 18px;
  color: green;
  margin: 0;
}

.red-change {
  font-size: 18px;
  color: red;
  margin: 0;
}

* {
  vertical-align:middle;
}

.middle{vertical-align:middle;}

.green-mark {
  background-color: lightgreen;
}

.red-mark {
  background-color: pink;
}
